// Bardon Scout colors
$bardon: #43a09b;
$bardon-invert: #d9432d;
$bardon-light: #65c2bd;
$bardon-mid: #32908a;
$bardon-darker: #218079;
$bardon-invert-mid: #c8321c;

// Bulma color references (since we're using Bulma from CDN)
$white-ter: #f3f4f6;
$black: #2b2523;

// Custom variables
$primary: $bardon;
$primary-invert: $bardon-invert;
$body-color: #333;
